@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }
  :root[data-theme='dark'] {
    color-scheme: dark;
  }
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  :root[data-theme='dark'] body {
    @apply bg-gray-900 text-gray-100;
  }
}
